{% load static %}
<div class="card card-lift--hover shadow border-0 margin-card">
    <div class="card-body py-5">
        <div class="img-center rounded-circle mb-4" data-toggle="modal" data-target="#modal_product_{{ product.id }}">
            <img
                class="img-thumbnail"
                {% if product.image %}  src="{{ product.image.url }}" {% else %} src="{%  static 'images/no_image.png' %}"{% endif %}
            >
        </div>
        <h6 class="text-primary text-uppercase">{{ product|truncatechars:40 }}</h6>
        <p class="description mt-3">Sku....<span class="badge badge-pill badge-primary">{{ product.sku }}</span> </p>
        <button type="button" data-toggle="modal" data-target="#modal_product_{{ product.id }}" class="btn btn-primary mt-4 btn-agri">
            {% if product.is_offer %} {{ product.tag_final_price }} 
            <span style="text-decoration: line-through; color: red">{{ product.tag_price }}</span> {% else %}{{ product.tag_final_price }}
            {% endif %}
        </button>
    </div>
</div>


      <div class="modal fade" id="modal_product_{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-notification" 
      aria-hidden="true">
    <div class="modal-dialog modal-info modal-dialog-centered modal-info" role="document">
        <div class="modal-content bg-gradient-primary">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification">{{ product }}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="py-3 text-center">
                    <div class="img-center rounded-circle mb-3">
                        <img
                            class="img-thumbnail"
                            {% if product.image %} 
                             src="{{ product.image.url }}" 
                             {% else %} src="{%  static 'images/no_image.png' %}"{% endif %}
                        >
                    </div>
                    <i class="ni ni-bell-55 ni-3x"></i>
                    <h4 class="heading mt-4">Κατηγοριες Προϊόντος</h4>
                    {% for cate in product.category_site.all %}
                        <p>{{ cate.name }}</p>
                    {% endfor %}
                    <br><hr>
                    <h4 class="heading mt-4">Σχολια</h4>
                    <p> {{ product.site_text|safe }} </p>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white">
                {% if product.is_offer %} {{ product.tag_final_price }} 
                    <span style="text-decoration: line-through; color: red">{{ product.tag_price }}</span> {% else %}{{ product.tag_final_price }}
                    {% endif %}
            </button>
                <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">κλεισιμο</button>
            </div>

        </div>
    </div>
</div>
 