{% extends "index.html" %} {% load static %}

{% block seo %}
        <title>Μοναστηράκι | {{ seo_title }}</title>
    {% endblock %}
  <!-- Favicon -->

{% block extra_js %}
    <script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'waypoints/lib/shortcuts/infinite.js' %}"></script>
    <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>

    <script>
        $('.ajax_search').keyup(function (evt) {
            evt.preventDefault();
            console.log('works!');
            const input = $(this);
            const url = input.attr('data-href');
            const value = input.val();
            $.ajax({
                method: 'GET',
                url: url + '?search_name=' + value,
                dataType: 'json',

                success: function (data) {
                    $('#result_container').html(data.result)
                }
            })
        })
    </script>
{% endblock %}

{% block content %}
    <section class="section section-lg section-shaped pb-250 agri_section ">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3  text-white">{{ page_title }}
                  <span>Εδώ θε βρείτε όλες τις κεντρικές κατηγορίες</span>
                </h1>
                <br> <br>
                <div class="btn-wrapper">
                    
                   <form>
                       <input data-href='{% url "ajax_search_categories" %}' type="text" class="form-control ajax_search" placeholder="Αναζήτηση Κατηγοριών">
                   </form>
                   <p class="lead text-white"> <a class="lead text-white" href="{% url 'homepage' %}">Αρχική Σελίδα</a> /  Κεντρικές κατηγορίες</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>

    <section class="section section-lg pt-lg-0 mt--200">
        <div class="container">
            <div class="row justify-content-center" id="result_container">
                {% include 'ajax/categories_container.html' %}
            </div>

        </div>
    </section>



{% endblock %}