{% extends 'index.html' %} {% load static %}

 {% block seo %}
        <title>{{ seo_title }}</title>
    {% endblock %}

{% block extra_js %}
    <script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'waypoints/lib/shortcuts/infinite.js' %}"></script>
    <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}

{% block content %}
    <section class="section section-lg section-shaped pb-250 agri_section ">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3  text-white">{{ page_title }}
                   <p class="lead text-white"> <a class="lead text-white" href="{% url 'homepage' %}">Αρχική Σελίδα</a> / {{ title }}</p>
                    <br />
                </h1>

                <div class="btn-wrapper">
                    <button href="" class="btn btn-info btn-icon mb-3 mb-sm-0" data-toggle="modal" data-target="#modal-form">
                        <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                        <span class="btn-inner--text">Filters</span>
                    </button>
                     <a href="{{ request.path }}" class="btn btn-danger btn-icon mb-3 mb-sm-0">
                        <span class="btn-inner--icon"><i class="fa fa-delete"></i></span>
                        <span class="btn-inner--text">Καθαρισμός Φίλτρων</span>
                    </a>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>

    <section class="section section-lg pt-lg-0 mt--200">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row row-grid infinite-container">
                        {% for product in object_list %}
                            <div class="col-lg-4 infinite-item">
                                <div class="card card-lift--hover shadow border-0 margin-card">
                                    <div class="card-body py-5">
                                        <div class="img-center rounded-circle mb-4">
                                            <img 
                                                class="img-thumbnail" 
                                                {% if product.image %}  src="{{ product.image.url }}" {% else %} src="{%  static 'images/no_image.png' %}"{% endif %}
                                            >
                                        </div>
                                        <h6 class="text-primary text-uppercase">{{ product|truncatewords:50 }}</h6>
                                        <p class="description mt-3">Sku....<span class="badge badge-pill badge-primary">{{ product.sku }}</span> </p>
                                        <div>
                                            {% for cate in product.category_site.all %}
                                            <span class="badge badge-pill badge-primary">{{ cate.name }}</span>
                                            {% endfor %}
                                        </div>
                                        <button class="btn btn-primary mt-4 btn-agri">{{ product.tag_final_price }}</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <div style="display:" class="col-md-12 col-sm-12 col-xs-12">
                            <a style="display: none" class=" btn btn-primary btn-block infinite-more-link" href="?page={{ page_obj.next_page_number }}">Loading...</a>
                        </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- modal form -->
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white pb-5">
                            <div class="text-muted text-center mb-3">
                                <small>Filters</small>
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                Επέλεξε Κατηγορία
                            </div>
                            <form method="get">
                                <div class="form-group" >
                                    {% for category in categories %}
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input 
                                            name='site_cate_name'  
                                            class="custom-control-input" 
                                            id="category_{{ category.id }}" 
                                            type="checkbox"
                                            value={{ category.id }}
                                            {% if category.id|stringformat:'s' in cate_name %} checked {% endif %}    
                                        >
                                        <label class="custom-control-label" for="category_{{ category.id }}">{{ category.name }}</label>
                                    </div>
                                    {% empty %}
                                    <div class="custom-control custom-checkbox mb-3">
                                        Δεν υπάρχουν κατηγορίες!
                                    </div>
                                    {% endfor %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ταξινόμηση Ανά</button>
                                        <div class="dropdown-menu">
                                            <button name='order_name' type="submit" value="title" class="btn btn-primary dropdown-item">Αλφαβητική σειρά Α-->Ω</button>
                                            <button name='order_name' type="submit" value="-title" class="btn btn-primary dropdown-item">Αλφαβητική σειρά Ω-->Α</button>
                                            <button name='order_name' type="submit" value="final_price" class="btn btn-primary dropdown-item">Φθηνότερο --> Ακριβώτερο</button>
                                            <button name='order_name' type="submit" value="-final_price" class="btn btn-primary dropdown-item">Ακριβώτερο --> Φθηνότερο</button>
                                        </div>
                                    </div>
                                <div class="text-center">
                                  <button type="submit" class="btn btn-primary my-4 btn-agri">Save</button>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}