{% extends 'tim/index.html' %} {% load static %}

{% block seo_title %}
        <title>{{ index_page.title }}</title>
        <meta name="description" content="{{ page_description }}">
        <meta name="keywords" content="{{ page_keywords }}">

    {% endblock %}

    {{% block facebook_block %}
        <meta property="og:url"                content="{{ request.build_absolute_uri }}" />
        <meta property="og:type"               content="article" />
        <meta property="og:title"              content="{{ page_title }}" />
        <meta property="og:description"        content="{{ page_description }}" />
        <meta property="og:image"              content="{% static 'cat_wall.jpg' %}" />
    {% endblock %}
    
{% block body %}<body class="profile-page sidebar-collapse">{% endblock %}
    

{% block content %}

    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'cat_wall.jpg' %}');">
            </div>
            <div class="container">
                <div class="content-center">
                    
                </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="button-container">
                        {% include "gdpr/index.html" %}
                    <a target="_blank" href="https://www.facebook.com/lagrace.molaoi" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/mymoda.gr/" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="section section-team text-center">
            
            <div class="container">
                <h2 class="title">Η Πολιτική μας</h2>
                <div class="team">
                    <div class="row">
                    	<h4 class="header text-center">ΠΟΛΙΤΙΚΗ ΑΠΟΡΡΗΤΟΥ</h4>
                        <p>o lagrace.gr ενδιαφέρεται για την προστασία των προσωπικών σας δεδομένων.
                        Η πολιτική απορρήτου περιγράφει και αναλύει γιατί συλλέγουμε τα προσωπικά σας δεδομένα, με ποιόν τρόπο τα χρησιμοποιούμε και τα επεξεργαζόμαστε,
                        για πόσο χρονικό διάστημα τα διατηρούμε και τέλος, κάτω από ποιους όρους μπορούμε να τα μοιραστούμε με άλλους.
                        </p>

                        <h4 class="header text-center">Τι Δεδομένα;</h4>
                        <p>Είτε επισκεφτείτε κάποιο από τα φυσικά μας καταστήματα, είτε το ηλεκτρονικό μας κατάστημα ή ακόμα και τα μέσα κοινωνικής δικτύωσης, 
                            μπορούμε να σας ζητήσουμε μερικές πληροφορίες όπως προσωπικά δεδομένα. Ακόμα τέτοιες πληροφορίες μπορεί να σας ζητηθούν όταν 
                            συμμετέχετε σε έναν από τους διαγωνισμούς μας ή όταν συμπληρώσετε μια από τις έρευνες πελατών μας ή συμπληρώνεται την αντίστοιχη φόρμα 
                            για την λήψη ενημερωτικών δελτίων newsletter. 
                            Τα στοιχεία που συνήθως σας ζητώνται είναι: ονοματεπώνυμο, διεύθυνση, τηλέφωνο (σταθερό ή κινητό), email, ημερομηνία γέννησης, φύλο.
                        </p>

                        <h4 class="header text-center">Επεξεργασία Δεδομένων</h4>
                        <p>
                            Τα προσωπικά σας δεδομένα μπορούν να υποβληθούν σε επεξεργασία όταν:
                            Πραγματοποιούνται προωθητικές ενέργειες και αποστολή ενημερωτικών δελτίων newsletter, για την ενημέρωση προϊόντων και διαγωνισμών
                            Χρησιμοποιούμε τα προσωπικά σας δεδομένα για να σας εντοπίσουμε όταν επικοινωνείτε μαζί μας, για να επαληθεύσουμε την ακρίβεια 
                            των δεδομένων αυτών και για να βοηθήσουμε κάποια δημόσια αρχή όπως αστυνομία.
                        </p>

                        <h4 class="header text-center">Γιατί να επεξεργαζόμαστε τα προσωπικά σας δεδομένα;</h4>
                        <p>
                            Χρησιμοποιούμε τα προσωπικά σας δεδομένα για δικό σας όφελος. Θέλουμε να μπορούμε να σας ενημερώνουμε όταν χρειαστεί, για παράδειγμα εάν υπάρξει
                            πιθανός κίνδυνος για την ασφάλεια σας από κάποιο προϊόν. Σας παρέχουμε υλικό (συμπεριλαμβανομένη και της διαφήμισης) προσαρμοσμένο στο δικό σας 
                            ενδιαφέρον σύμφωνα με τον τρόπο που περιηγείστε στις υπηρεσίες μας μέσω διαδικτύου.
                            Συνεργαζόμαστε με παρόχους, προμηθευτές  και οργανισμούς, οι οποίοι μπορούν να επεξεργάζονται τα προσωπικά σας δεδομένα για λογαριασμό μας, 
                            αλλά με την προϋπόθεση ότι τηρούν τους κανόνες ασφαλείας περί προστασίας προσωπικών δεδομένων. Πχ, ορισμένοι από τους παρόχους υπηρεσιών μας
                            προβάλουν διαφημίσεις για τα προϊόντα και τις υπηρεσίες μας καθώς και για τα προϊόντα των συνεργατών μας, των προμηθευτών μας και τρίτων μερών.
                            Με την προϋπόθεση ότι εσείς έχετε δώσει τη συγκατάθεση σας και αποδέχεστε να ενημερώνεστε για τις προωθητικές μας ενέργειες, 
                            ενδέχεται να δείτε διαφήμιση στο διαδίκτυο που έχουμε τοποθετήσει στους ιστότοπους που επισκέπτεστε ή στις διαδραστικές υπηρεσίες που χρησιμοποιείτε.
                            Χρησιμοποιούμε τα δεδομένα σας σε θέματα marketing εάν έχουμε τη συγκατάθεσή σας για αυτό. Μπορούμε να σας ενημερώνουμε για τα νέα μας
                            προϊόντα και προσφορές είτε μέσω την αποστολή ενημερωτικών δελτίων emailείτε με τη χρήση κοινωνικών μέσων.Συλλέγουμε στατιστικά στοιχεία 
                            σχετικά με το άνοιγμα των ηλεκτρονικών μηνυμάτων για να μας βοηθήσετε να παρακολουθούμε και να βελτιώνουμε τα ηλεκτρονικά μας ενημερωτικά δελτία. 
                            Μπορείτε να καταργήσετε την εγγραφή σας σε αυτά ανά πάσα στιγμή κάνοντας κλικ στον σύνδεσμο κατάργησης εγγραφής στο κάτω μέρος οποιουδήποτε 
                            από τα ηλεκτρονικά μας μηνύματα.
                                
                            Ως καταναλωτές και ως πελάτες έχετε το δικαίωμα:
                                
                            Να αποκτήσετε πληροφορίες σχετικά με το ποια δεδομένα έχουμε συλλέξει, για ποιόν σκοπό τα έχουμε συλλέξει και για πόσο χρόνο θα τα διατηρήσουμε.
                            Να ζητήσετε να διορθώσουμε τυχόν ανακριβείς πληροφορίες σχετικά με εσάς ή ακόμη να συμπληρώσουμε επιπλέον πληροφορίες για εσάς.
                            Να ζητήσετε να περιορίσουμε ή και να αποκλείσουμε την επεξεργασία των προσωπικών σας δεδομένων εάν αντιληφθείτε ότι
                            επεξεργαζόμαστε τα δεδομένα σας με παράνομο τρόπο ή εάν δεν θέλετε πλέον να λαμβάνετε προωθητικά μηνύματα για προϊόντα και υπηρεσίες μας.
                            Έχετε το δικαίωμα να μας ζητήσετε να μεταφέρουμε τα προσωπικά σας δεδομένα σε κάποιον άλλον οργανισμό για εσάς.
                            Έχετε το δικαίωμα, να μας ζητήσετε γραπτώς να διαγράψουμε τα προσωπικά δεδομένα σας, όταν δεν είναι πλέον απαραίτητα
                            σε σχέση με τον σκοπό που συλλέχθηκαν, εάν θελήσετε να αποσύρετε τη συναίνεση σας για την επεξεργασία αυτών και εάν 
                            τα δεδομένα σας υποβληθούν σε παράνομη επεξεργασία παραβιάζοντας τον κανονισμό περί Προστασίας Προσωπικών Δεδομένων.
                                 
                                
                            Τα προσωπικά σας δεδομένα παραμένουν στα αρχεία μας για όσο διάστημα είστε πελάτης στο κατάστημά μας (είτε φυσικό, είτε ηλεκτρονικό).
                            Διατηρούμε τα προσωπικά δεδομένα των πελατών και των καταναλωτών μας για τουλάχιστον δεκαπέντε (15) χρόνια προκειμένου 
                            να μπορούμε να εκπληρώνουμε την υποχρέωσή μας να διατηρούμε ακριβή αρχεία για φορολογικές ή άλλες διοικητικές αρχές. 
                            Ακόμα για προσωπικά δεδομένα των προσώπων που έκαναν εγγραφή στα newsletters (ή/και στις προωθητικές μας ενέργειες) 
                            διατηρούνται  μέχρι τα πρόσωπα αυτά να μας δηλώσουν ότι δεν επιθυμούν πλέον να λαμβάνουν από εμάς newsletters ή/και προωθητικό υλικό.
                                
                            Χρησιμοποιούμε μέσα κοινωνικής δικτύωσης όπως Facebook, Google, Instragram και Twitter. Με αυτόν τον τρόπο μπορεί να ανακτηθούν δεδομένα.
                            Εάν είστε συνδεδεμένοι σε ένα από αυτά, το δίκτυο μπορεί να αντιστοιχίσει την επίσκεψη σας στον ιστότοπο με τον λογαριασμό χρήστη.
                            Εάν είστε χρήστης ενός κοινωνικού δικτύου και δεν θέλετε να συνδυάζονται τα δεδομένα που ανακτώνται από την επίσκεψη σας στους ιστότοπους μας,
                            πρέπει πριν την είσοδο σας σε αυτούς να αποσυνδεθείτε πρώτα από το κοινωνικό σας δίκτυο.
                                
                            Στο πλαίσιο των δραστηριοτήτων μας, πρόσβαση στα προσωπικά σας δεδομένα ενδέχεται να έχουν και εταιρείες συμφερόντων μας. 
                            Επιπλέον, χρησιμοποιούμε τρίτους παρόχους οι οποίοι παρέχουν υπηρεσίες για λογαριασμό μας. Έτσι, μπορεί να χρειαστεί να μοιραστούμε 
                            μαζί τους τα προσωπικά σας δεδομένα. Ωστόσο, μοιραζόμαστε μαζί τους μόνο τα προσωπικά σας δεδομένα που είναι απαραίτητα για να παρέχουν 
                            τις υπηρεσίες που τους ζητάμε και απαιτούμε από αυτούς να προστατεύουν τα δεδομένα σας και να μην τα χρησιμοποιούν για άλλους σκοπούς.
                            Τα προσωπικά δεδομένα που συλλέγουμε από εσάς αποθηκεύονται σε μία ή περισσότερες βάσεις δεδομένων που φιλοξενούνται από τρίτους που είναι
                            εγκατεστημένοι εντός της Ευρωπαϊκής Ένωσης.
                                   
                            Μπορείτε να επικοινωνείτε μαζί μας για οποιαδήποτε ερώτηση σχετικά με την επεξεργασία των προσωπικών σας δεδομένων από εμάς ή για να ασκήσετε τα δικαιώματά σας,
                             χρησιμοποιώντας την ηλεκτρονική φόρμα επικοινωνίας της ιστοσελίδας μας.
                        </p>
                    </div>
                </div>
            </div>
        </div>
   {% endblock %} 